@import "variables.css";

.link {
  display: block;
  width: fit-content;
  font-family: var(--sans-serif);
  font-weight: 700;
  font-size: 1.2rem;
  background-color: white;
  color: var(--grey);
  border: 2px solid var(--blue);
  text-decoration: none;
  padding: 0.15rem 1rem;
  font-variant: all-small-caps;

  &:hover {
    transform: translateY(-2px);
  }
}
