@import "variables.css";

@media screen and (min-width: 0px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    div:last-of-type {
      transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
      width: 90%;
      max-width: 800px;
      background-color: var(--light-grey);
      text-align: center;
      color: var(--grey);
      border-radius: 7px;
    }
  }

  .question,
  .questionActive {
    width: 100%;
    max-width: 1200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--sans-serif);
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    span {
      font-size: 1.2rem;
      font-weight: 600;
      margin-left: 3rem;
    }
    button {
      position: absolute;
      left: 1rem;
      font-family: var(--sans-serif);
      font-weight: 700;
      font-size: 1rem;
      text-align: center;
      height: 2rem;
      width: 2rem;
      color: white;
      background: none;
      border: 2px solid white;
      border-radius: 50%;
    }
  }

  .question {
    background-color: var(--grey);
  }

  .questionActive {
    background-color: var(--blue);
  }

  .invisible {
    max-height: 0px;
    overflow: hidden;
    padding: 0 5%;
  }

  .visible {
    max-height: 12rem;
    padding: 3rem 5%;
  }
}

@media screen and (min-width: 768px) {
  .question,
  .questionActive {
    span {
      margin-left: 0;
    }
  }
}
