@import "variables.css";

.card {
  background-color: var(--light-grey);
  padding: 5%;
  border-radius: 10px;
  color: var(--grey);
  span {
    font-family: var(--sans-serif);
  }
  img {
    width: 60px;
    vertical-align: middle;
    margin-right: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
}

.date {
  color: #888888;
}
