@import "variables.css";

@media screen and (min-width: 0px) {
  .container {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: left;

    button {
      display: none;
    }
  }
  .carousel {
    width: 100%;
    overflow: hidden;
  }
  .window {
    width: 100%;
    white-space: nowrap;
    transition: ease-in-out 0.3s;
  }

  .slide {
    width: 90%;
    margin-inline: 5%;
    display: inline-flex;
    gap: 1rem;
    white-space: normal;
    flex-direction: column;
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    span {
      cursor: pointer;
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;

      &:hover {
        background-color: var(--grey);
      }
    }

    button {
      cursor: pointer;
      display: inline-block;
      width: 55px;
      height: 55px;
      border: none;
      background-color: var(--light-grey);
      color: var(--blue);
      border-radius: 50%;
      font-family: var(--sans-serif);
      font-size: 2rem;

      &:hover {
        margin-bottom: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      }
    }

    .active {
      background-color: var(--blue);
    }

    .inactive {
      background-color: var(--light-grey);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    button {
      cursor: pointer;
      flex-shrink: 0;
      display: inline-block;
      width: 75px;
      height: 75px;
      border: none;
      background-color: var(--light-grey);
      color: var(--blue);
      border-radius: 50%;
      font-family: var(--sans-serif);
      font-size: 2rem;

      &:hover {
        margin-bottom: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .dots {
    button {
      display: none;
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    margin: 0 auto 1rem auto;
    max-width: 1200px;
  }

  .slide {
    flex-direction: row;
  }
}
