@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --light-grey: #f1f1f1;
  --grey: #666666;
  --light-blue: #cce0f8;
  --blue: #5396e4;

  --logo: "Playfair Display", serif;
  --serif: "Libre Baskerville", serif;
  --sans-serif: "Poppins", sans-serif;

  --tablet: 480px;
  --laptop: 768px;
  --desktop: 1025px;
}
